body, nav
{
    max-width: 1200px;
    margin: 0 auto;
}

@font-face /* Police de la page */
{
    font-family: "raleway";
    src: url(./police/Raleway-VariableFont_wght.ttf);
}

    header, body, footer
    {
        font-family: "raleway";
    }

header /*mise en forme du header */
{
    background-color: white;
    position:  fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
}

    .logo-menu /* placement logo */
    {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .logo
    {
        width: 100px;
    }

nav /* placement nav */
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

    .menu
    {
        display: flex;
    }

        .menu a
        {
            display: flex;
            align-items: center;
            height: 100%;
            border: 2px transparent solid;
            padding: 0 20px;

        }

            .menu a.actif
            {
                border-top: 2px #0065FC solid;
            }

            .menu a.inscrire
            {
                font-weight: bold;
                color: #0065FC;
            }

    a /* Liens nav par défaut non survolés */
    {
        text-decoration: none;
        color: black;
    }

        a:hover /* Apparence au survol */
        {
            color: #0065FC;
        }

    .main
    {
        margin-top: 100px;
    }

form /* barre de recherche */
{
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
}

    i
    {
        color: #0065FC;
    }

    .position
    {
        color: black;
    }

    .info
    {
        height: 100%;
        width: 50px;
        background-color: #F2F2F2;
        border-radius: 15px 0 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form input
    {
        height: 100%;
        border: none;
        border-top: 1px #F2F2F2 solid;
        border-bottom: 1px #F2F2F2 solid;
        margin-left: 5px;
        font-weight: bold;
    }

        form button
        {
            height: 100%;
            border: none;
            border-radius: 0 15px 15px 0;
            background-color: #0065FC;
            color: white;
            font-weight: bold;
            padding: 0 10px;
            cursor: pointer;
        }

    #filter /* filtres */
    {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 830px;
        margin: 30px 0;
    }

        div .filtres
        {
            display: flex;
            align-items: center;
            border-radius: 25px;
            border: 3px #F2F2F2 solid;
        }
        
            .filtres:hover
            {
                color: #0065FC;
                cursor: pointer;
            }

    .icone /* phrase info */
    {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #DEEBFF;
        border-radius: 50%;
        margin: -3px;
    }

    .petit-i
    {
        background-color: #0065FC;
        color: white;
        border-radius: 50%;
        border: 2px #F2F2F2 solid;
        margin-right: 5px   ;
    }

.habitation /* espace habitation */
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 50px;
    max-width: 70%;
    padding: 15px 30px;
}

    .top
    {
        width: 100%;
        font-weight: bold;
        height: 50px;
    }

        .top h2
        {
            margin: 5px;
        }

    .section1
    {
        margin-bottom: 40px;
        background-color: white;
        border-radius: 20px;
        border: 4px white solid;
        box-shadow: 4px 4px 4px #efebeb;
        overflow: hidden;
        max-width: 30%;
    }

        .section1 img
        {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

            .section1:hover
            {
                cursor: pointer;
            }

        .title /* texte des images */
        {
            margin: 5px;
        }
        
.afficher /* bouton "afficher plus" */
{
    width: 100%;
    font-weight: bold;
    margin-top: 0;
}

    .plus:hover /* afficher plus */
    {
        color: #0065FC;
        cursor: pointer;
    }

.tete /* placement "section1" et "aside" */
{
    display: flex;
    width: 100%;
}

aside /* partie "les plus populaires */
{
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 15px 30px;
    margin-left: 30px;
}

    .aside
    {
        width: 100%;
        display: flex;
        background-color: white;
        border: 4px white solid;
        border-radius: 20px;
        box-shadow: 4px 4px 4px #efebeb;
        overflow: hidden;
        margin-bottom: 40px;
    }

        .aside img
        {
            width: 150px;
            height: 155px;
        }

    .aside:hover
    {
        cursor: pointer;
    }

.titre  /* alignement titre et icone */
{
    display: flex;
    align-items: center;
    height: 50px;
}

.graph /* icone de titre */
{
    width: 5%;
}

.populaire /* titre */
{
    width: 95%;
    font-weight: bold;
}

.colonne /* placement du texte des images */
{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 50%;
}

.colonne h4
{
    margin: 10px 0;
}

.none /* notation des logements */
{
    color: #f2f2f2;
}

.column /* section des photos générale */
{
    display: flex;
    margin: 0 20px;
}

.one-column
{
    height: 100%;

}

.two-column /* photo l'une en dessous de l'autre */
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity /*activités */
{
    display: flex;
    justify-content: space-between;
    height: 450px;
}

    .activity .img-description
    {
        display: flex;
        align-items: center;
        font-weight: bold;
        height: 50px;
        margin: 0 10px;
    }

        .activity .column:first-child
        {
            margin-left: 0;
        }

        .activity .column:last-child
        {
            margin-right: 0;
        }

        .activity .two-column .picture:first-child
        {
            margin-bottom: 40px;
        }

    .sec1-description
    {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }


.étoile /* décallage étoile de notation */
{
    margin: 5px 0;
}

.star 
{
    padding: 10px 0;
}

    .picture img
    {
        width: 100%;
        height: calc(100% - 50px);
        object-fit: cover;
    }

        .picture
    {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 4px 4px 4px #efebeb;
    }

    .picture:hover
    {
        cursor: pointer;
    }

footer /* bas de page */
{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 60px;
    width: 110%;
    margin-left: -55px;
}

    .footer
    {
        width: 26%;
        margin: 25px 15px 0 50px;
    }
    
        .footer:last-child
        {
            margin-left: 60px;
        }

ul
{
    list-style-type: none;
    padding: 0;
}

    li:hover
    {
        cursor: pointer;
        color: #0065FC;
    }