body, nav
{
    max-width: 1200px;
    margin: 0 auto;
}

i
{
    color: blue;
}

.position
{
    color: black;
}

header
{
    background-color: white;
    position:  fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100px;
}

.logo-menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 30px;
}

.main
{
    margin-top: 100px;
}

.logo
{
    width: 100px;
}

nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu a
{
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px transparent solid;
    padding: 0 20px;

}

.menu
{
    display: flex;
}

.menu a.actif
{
    border-top: 2px #0065FC solid;
}

@font-face {
    font-family: "raleway";
    src: url(./police/Raleway-VariableFont_wght.ttf);
}

header, body, footer
{
    font-family: "raleway";
}

.menu a.inscrire
{
    font-weight: bold;
    color: #0065FC;
}

a /* Liens pas défaut (non survolés) */
{
    text-decoration: none;
    color: black;
}

a:hover /* Apparence au survol */
{
    color: #0065FC;
}

form
{
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
}

.info
{
    height: 100%;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input
{
    height: 100%;
    border: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    margin-left: 5px;
    font-weight: bold;
}

form button
{
    height: 100%;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
}

#filter
{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
    margin: 30px 0;
}

div .filtres
{
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: 3px #F2F2F2 solid;
}

.icone
{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -3px;
}

span
{
    margin: 0 15px;
}